.p-summary
  .p-summary__wrap
    h1 WebGL Fog
    p
      a(href="https://ykob.github.io/sketch-threejs/sketch/fog.html", target="_blank")
        |this source.

canvas(id="canvas-webgl", class="p-canvas-webgl")